<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div>
      <h1 id="arriba" class="texto">Nuestro Restó</h1>
      <h2 class="texto">Carta</h2>
    </div>
  </header>
   <nav>
    <div>
      <ul>
        <li>Entradas</li>
        <br>
        <li>Platos Principales</li>
        <br>
        <li>Ensaladas</li>
        <br>
        <li>Raws</li>
        <br>
        <li>Postres</li>
        <br>
        <li>Desayuno y meriendas</li>
        <br>
        <li>Bebidas</li>
        <br>
        <li>Smoothies</li>
        <br>
        <li>Té y Café</li>
        <br>
        <li>Vinos</li>
        <br>
        <li>Cervezas</li>
      </ul>
    </div>
  </nav>
  <div id="divPadre">
    <div id="hijo1">
      <h3>Entradas</h3>
    </div>
    <div id="hijo2">
      <h4>Muzzarella Sticks</h4>
      <p>Bastones de muzzarella rebozados</p>
      <h4>Jalapeños rellenos</h4>
      <p>Jalapeños rellenos de langostinos y queso Cheddar con panceta.</p>
      <h4>Ración de Rabas</h4>
      <p>220 gr. de chicharrón de calamar frito con alioli</p>
    </div>
    <div id="hijo3">
      <img src="/images/foto-entradas.jpg" alt="">
    </div>
    <div id="hijo4">
      <br>
      <h4>Ración de papas fritas con Cheddar y verdeo</h4>
      <h4>Chicken Wings</h4>
      <p>Alitas de pollo empanada y frita con salsa BBQ</p>
      <h4>Croquetas de hongos</h4>
      <p>Croquetas elaboradas a base de hongos disecados.</p>
      <h4>Langostinos en cous cous</h4>
      <p>Langostinos a la plancha con frutos secos, tomates cherry, albahaca y cous cous</p>
      <h4>Chipirones a la plancha</h4>
      <p>Con chutney de mango y sandía a la plancha</p>
      <h4>Nachos con refrito</h4>
      <p>Nachos salteados con porotos negros, chorizo colorado y salsa BBQ</p>
      <h4>Tapa de morcilla</h4>
      <p>Pan casero de campo, morcilla, verdeo y queso brie.</p>
      <h4>Tapa de campo</h4>
      <p>Morcilla, papa, chutney de manzana y crema de eneldo</p>
      <h4>Tapa de mollejas</h4>
      <p>Mollejas con mango, ananá, jengibre, chiles y pochoclo.</p>
    </div>
    <div id="adoptado">
      <a id="up" href="#arriba">Volver arriba</a>
    </div>
  </div>
  <footer>
    <div id="hijoImagen">
      <img id="imgfooter" width="227px" src="/images/logo-web.png" alt="">
    </div>
    <div id="hijoTexto">
      <ul>
        <li>Contacto</li>
        <br>
        <li>facebook</li>
        <li>twitter</li>
        <li>Instagram</li>
      </ul>
    </div>
  </footer>
</body>
</html>


  